@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
    .btn{
        @apply p-3 rounded-md;
    }
    .btn.green{
        @apply bg-[hsl(161.68,85.64%,38.24%)] text-white font-semibold hover:bg-[#444] transition-all duration-500;
    }
    .btn.green-outline{
        @apply border-[.1rem] font-semibold border-[hsl(161.68,85.64%,38.24%)] text-[hsl(161.68,85.64%,38.24%)] hover:bg-[hsl(161.68,85.64%,38.24%)] hover:text-white transition-all duration-500;
    }
}

.banner .tns-slider{
    @apply my-[10rem];
}
.banner .tns-controls{
    @apply hidden lg:flex items-center justify-between absolute w-full right-0 top-[50%] px-[2rem] opacity-0 transition-all;
}
.banner:hover .tns-controls{
    @apply opacity-100 transition-all;
}
.banner .tns-controls button{
    @apply text-white bg-primary rounded-full lg:h-[4rem] lg:w-[4rem] lg:py-[1rem] hover:bg-black
}
.slider-1 .tns-outer{
    @apply translate-y-[-5rem] z-[999]
}

.container{
    @apply mx-auto p-[1.5rem] w-full max-w-[140rem];
}
.btn--solid{
    @apply inline-block text-light text-[1.2rem] bg-primary px-[1.5rem] py-[.5rem] rounded-md font-semibold transition-all border-[1px] border-transparent hover:bg-dark hover:transition-all
}
.btn--outline{
    @apply inline-block text-primary text-[1.2rem] bg-transparent px-[1.5rem] py-[.5rem] rounded-md font-semibold transition-all border-[1px] border-primary hover:bg-primary hover:transition-all hover:text-light
}
.text__stroke{
    -webkit-text-stroke:4px #ffffff;
    -text-stroke:4px #ffffff;
}
body{
    font-family:Raleway, sans-serif;
    font-size: 20px
}

.slider-1.tns-nav{
    @apply  flex items-center justify-center;
}
.slider-1 .tns-outer{
    @apply  lg:max-w-[80rem] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit   lg:z-[999];
}
.slider-1 .tns-controls{
    @apply text-[2rem]  lg:text-light lg:flex lg:justify-between lg:z-[999] lg:w-[100%] lg:absolute;
}
.slider-1 .tns-outer i{
    @apply bg-primary rounded-full lg:h-[4rem] lg:w-[4rem] lg:py-[1rem] hover:bg-black
}
.slider-1:hover .tns-controls{
    @apply opacity-100 transition-all;
}
.instructor .tns-controls{
    @apply text-[2rem]  lg:text-light lg:flex justify-end lg:gap-[2rem] lg:mb-[2rem]
}
.instructor .tns-controls i{
    @apply bg-primary rounded-full lg:h-[4rem] lg:w-[4rem] lg:py-[1rem] hover:bg-black
}
.testimonial .tns-controls{
    @apply text-[2rem]  lg:text-light lg:flex lg:gap-[2rem] lg:mb-[2rem] lg:relative
}
.testimonial .tns-controls i{
    @apply bg-primary rounded-full lg:h-[4rem] lg:w-[4rem] lg:py-[1rem] hover:bg-black
}
.news .tns-controls{
    @apply lg:ml-[-5rem] lg:justify-end lg:max-w-[80rem] lg:mx-auto lg:w-full lg:mt-[-37rem]  lg:z-50 lg:absolute text-[2rem]  lg:text-light lg:flex lg:gap-[2rem] lg:mb-[2rem] 
}
.news .tns-controls i{
    @apply bg-primary rounded-full lg:h-[4rem] lg:w-[4rem] lg:py-[1rem] hover:bg-black 
}
@layer components {
  /*HEADER*/
  .header{
    @apply lg:mt-[5rem] lg:fixed lg:w-full lg:bg-transparent lg:z-[999];
}
.header .header__wrapper{
    @apply lg:flex lg:items-center lg:justify-between lg:bg-bluee lg:max-w-[75rem] lg:mx-auto lg:rounded-md
}
.header .branding{
    @apply lg:flex  bg-light p-[1.5rem] lg:bg-transparent;
}
.header .branding img{
    @apply mx-auto
}
.header__nav__title{
    @apply bg-primary p-[1rem] flex justify-between items-center lg:bg-transparent lg:hidden
}
.header__nav__title h2{
    @apply text-light font-bold text-[1.3rem]
}
.header__nav__title .toggle__menu span{
    @apply w-[1.5rem] h-[.2rem] bg-light block transition-all
}
.header__nav__title .toggle__menu.open span:first-child{
    @apply transform translate-y-[6px] rotate-[225deg] transition-all
}
.header__nav__title .toggle__menu.open span:nth-child(2){
    @apply opacity-0 transition-all
}
.header__nav__title .toggle__menu.open span:last-child{
    @apply transform translate-y-[-6px] rotate-[-225deg] transition-all
}
.header__nav__title .toggle__menu span:nth-child(2){
    @apply my-[.2rem]
}
.header__nav nav{
    @apply max-h-0 overflow-hidden transition-all lg:max-h-[200rem] lg:flex lg:items-center lg:p-[1.5rem];
}
.header__nav nav.open{
    @apply max-h-[200rem] transition-all
}
.header__nav nav li{
    @apply list-none
}
.header__nav nav li:hover .drop__content{
    @apply lg:group-hover:opacity-[1] lg:top-[5.5rem] lg:h-fit;
}
.header__nav .drop__nav h4{
    @apply flex items-center justify-between border-b-[1px] border-gray-400 px-[1.5rem] py-[.8rem] lg:border-none
    lg:gap-[.5rem] cursor-pointer
}
.header__nav .drop__nav h4 p{
    @apply font-bold text-[1rem] lg:text-light lg:font-normal
}
.header__nav .drop__nav .drop__toggle span{
    @apply w-[.8rem] h-[.2rem] bg-dark block transition-all lg:bg-light lg:h-[.1rem] lg:w-[.5rem];
}
.header__nav .drop__nav .drop__toggle span:first-child{
    @apply lg:transform lg:rotate-[-45deg] lg:translate-x-[5px] lg:translate-y-[.15rem];
}
.header__nav .drop__nav .drop__toggle span:last-child{
    @apply transform rotate-[270deg] translate-y-[-.15rem] lg:rotate-[45deg] lg:translate-y-0;
}

.header__nav .drop__nav .drop__toggle.open span:last-child{
    @apply transform rotate-[0deg] transition-all
}
.header__nav .drop__content{
    @apply max-h-0 overflow-hidden transition-all lg:max-h-[20rem] lg:absolute lg:bottom-[-25rem] lg:bg-primary lg:min-w-[10rem] lg:opacity-0 lg:py-[1rem];
}
.header__nav .drop__content.open{
    @apply max-h-[200rem] transition-all;
}
.header .drop__content.drop{
    @apply lg:opacity-[1] lg:top-[5.5rem] lg:h-fit
}
.header__nav .drop__content ul li:not(first-child){
    @apply border-b-[1px] border-gray-400 lg:border-none;
}
.header__nav .drop__content ul li{
    @apply py-[1rem] lg:p-[1rem]
}
.header__nav .drop__content ul li a{
    @apply px-[3rem] text-[.8rem] lg:px-0 lg:text-light lg:text-[1.2rem]
}
.header__nav .drop__content ul li:hover{
    @apply lg:bg-light
}
.header__nav .drop__content ul li:hover a{
    @apply lg:text-primary
}
.header__nav nav a.free{
    @apply hidden lg:block 
}
/* ------------HEADER-PC---------- */
.header__pc{
    @apply hidden lg:flex bg-primary py-[1rem]
}
.pc__wrapper{
    @apply text-light justify-between flex w-full max-w-[80rem] mx-auto 
}
.pc__text{
   @apply flex justify-between
}
.pc__text span{
    @apply text-light
}
.pc__socials  i {
    @apply  ml-[1rem] hover:text-black
}
.pc__in{
    @apply flex
}
.pc__in  i {
    @apply  mr-[1rem] 
}
.pc__in a:last-child{
    @apply border-l-[3px] 
}
.pc__in a{
    @apply px-[1rem]
}
.pc__text i{
    @apply mr-[1rem] ml-[2rem]
}


    /* ---------------------------BANNER------------------------ */
    .banner{
        @apply bg-bannerBG1 bg-cover h-[50rem] bg-no-repeat relative lg:h-[65rem];
    }
    .banner .container{
        @apply max-w-[100rem];
    }
    .banner__content{
        @apply flex items-center justify-between;
    }
    .banner__item{
        @apply flex items-center;
    }
    .banner__item img{
        @apply hidden lg:block w-full lg:w-[40rem];
    }
    .banner__text{
        @apply text-center w-full relative lg:text-left lg:pt-[1rem];
    }
    .banner__text h1{
        @apply absolute left-0 top-0 z-[-1] text-transparent opacity-40 stroke-inherit font-bold text-[4rem] leading-none lg:text-[9rem];
    }
    .banner__text h4{
        @apply text-white text-[2rem] lg:text-[4rem] w-[24rem] lg:w-[46rem] mx-auto lg:m-0 font-bold lg:leading-[6rem];
    }
    .banner__text p{
        @apply text-white text-[1.5rem] w-[25rem] lg:w-[40rem] mx-auto lg:m-0 mb-5;
    }
    .banner__actions{
        @apply text-[1.2rem] my-[2rem] w-full lg:w-fit;
    }

/* ---------------SLIDER-1--------------- */
.slider-1{
    @apply  lg:relative lg:z-[2];
}
.slider-1__wrapper{
    @apply  my-[2rem] lg:relative 
}
.slider-1__item{
    @apply w-[5rem] mx-auto bg-transparent
    
}
.slider-1__item__img{
    @apply  lg:hover:shadow-none lg:mx-auto bg-light mx-[2rem] justify-center items-center text-center border-[2px] border-greeen border-opacity-30 rounded-[1rem]  hover:shadow-[0px_0px_5px_0px_rgba(0,0,0,.9)]
}
.slider-1__item img{
    @apply flex mx-auto my-[2rem]
}
.slider-1__text h3{
@apply text-[1.5rem] text-dark hover:text-greeen
}
.slider-1__text p{
    @apply text-greeen my-[1rem]
}


/* .tns-outer{
    @apply min-h-[20rem] z-[999]
} */

/* .tns-inner{
    @apply z-[999] min-h-[25rem]
} */
/* ---------EDUTIT--------- */

.edutit__wrapper{
    @apply my-[2rem] lg:grid lg:grid-cols-2 lg:gap-[2rem] lg:max-w-[90rem]  lg:w-full  lg:mx-auto
}
.edutit__wrapper img{
    @apply flex w-[28rem] lg:w-[35rem] 
}
.edutit__text{
    @apply my-[2rem]
}
.edutit__text h2{
    @apply  font-bold flex text-dark text-[1.5rem] text-justify ml-[1rem] lg:text-[2.9rem] lg:max-w-[35rem] 
}
.edutit__text h2 span{
    @apply text-greeen text-[1.4rem] lg:text-[1.4rem]
}
.edutit__list{
    @apply  ml-[1rem] border-l-[5px] border-greeen
}
.edutit__list p{ 
    @apply my-[2rem] text-gray-500 text-[1.5rem] ml-[1rem]
}
.edutit__item p{
    @apply text-gray-500 text-[1.2rem] mx-[1rem]
}
.edupit__success{
    @apply text-[1rem] mt-[2rem]
}
.success__bar{
    @apply  my-[10px]; 
    }
    .success__bar__circle{
    @apply ml-[1.2rem] h-[3px] w-[90px] bg-primary my-[1rem] mx-auto relative rounded-[30px]
    }
    .success__bar__circle::before{
    @apply content-[""] absolute left-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding1
    }
    .success__bar__circle::after{
    @apply content-[""] absolute right-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding2
    }

    .slider-2-all img{
        @apply flex h-[4rem] my-[1rem] w-[4rem]
    }
    .slider-2{
        @apply ml-[1rem]
    }
    

    /** ---------- COURSE BANNER ---------- */

    .course{
        @apply  min-h-[50rem] bg-shape bg-cover bg-center py-[7rem] lg:min-h-[80rem]
    }

    .course .container{
        @apply lg:max-w-[80rem]
    }

    .course__title{
        @apply flex flex-col items-center text-center font-[700] text-[1.6rem] text-primary pb-[3rem] lg:text-[1rem]
    }

    .course__title h4{
        @apply text-dark px-[3rem] text-[3rem] lg:w-[50rem]
    }

    .course__wrapper{
        @apply lg:grid lg:grid-cols-3 lg:gap-[2rem]
    }

    .course__card{
        @apply bg-light shadow-[0_4px_23px_rgba(0,0,0,.1)] rounded-b-[.5rem] mb-[1.5rem] transition ease-in-out duration-300 
    }

    .course__card:hover{
        @apply translate-y-[-.5rem] transition ease-in-out duration-300
    }

    .course__img{
        @apply relative
    }

    .course__img-content{
        @apply absolute top-0 p-[1rem] w-[28.2rem] lg:w-[25rem]
    }

    .course__img-content ul{
        @apply flex justify-between items-center
    }

    .course__img-content ul li:first-child{
        @apply bg-primary px-[.7rem] py-[.3rem] rounded-[.3rem]
    }

    .course__img-content ul li:first-child {
        @apply text-light text-[1.1rem]
    }

    .course__img-content ul li:last-child{
        @apply bg-light px-[.6rem] py-[.2rem] rounded-[.2rem]
    }

    .course__img-content ul li:last-child a{
        @apply text-primary text-[1.5rem]
    }

    .course__content{
        @apply py-[1rem]
    }

    .course__text{
        @apply p-[1rem]
    }

    .course__text ul li{
        @apply flex items-center text-[1.1rem] text-grey
    }

    .course__text ul li span{
        @apply italic ml-[.2rem]
    }

    .course__text ul li i{
        @apply text-[.8rem] mr-[.3rem] text-primary
    }

    .course__text ul li a{
        @apply mx-[.2rem] text-dblue font-[600]
    }

    .course__text ul li:nth-child(2){
        @apply my-[1rem] pr-[2rem]
    }

    .course__text ul li:nth-child(2) a{
        @apply text-dark font-[600] hover:text-primary transition ease-in-out duration-300
    }

    .course__text ul li img{
        @apply w-[2rem] rounded-full mr-[.5rem]
    }

    .course__subtext{
        @apply border-t-[1px] p-[1rem] flex items-center justify-between
    }

    .course__subtext p{
        @apply text-dark text-[1.1rem] font-[600]
    }

    .course__subtext a{
        @apply text-[1.1rem]
    }



    /** ---------- INSTRUCTOR BANNER ---------- */

    .instructor{
        @apply relative py-[1rem] lg:max-w-[80rem] lg:w-full lg:mx-auto 
    }

    .instructor__title{
        @apply ml-[2rem] font-[700] text-[1.6rem] text-primary pb-[2rem] lg:text-[1rem]
    }

    .instructor__title h4{
        @apply text-dark w-[17rem] lg:text-[3rem] lg:w-[30rem]
    }

    .instructor__wrapper{
        @apply flex gap-x-[2rem]
    }

    .instructor__card{
        @apply mr-[2rem] text-center bg-light border-[2px] border-lgreen rounded-[.5rem] py-[3rem] shadow-[0px_5px_4px_0px_rgba(0,0,0,.05)] overflow-hidden mb-[.5rem] 
    }

    .instructor__card:hover{
        @apply  border-light transition ease-in-out duration-300
    }

    .instructor__card:hover .instructor__social:before{
        @apply w-[100%] bg-primary transition-all duration-300
    }

    .instructor__content{
        @apply mb-[1rem] flex flex-col items-center
    }

    .instructor__content h3{
        @apply text-[1.5rem] font-[600] text-dark pt-[.5rem]
    }

    .instructor__content p{
        @apply text-[1.1rem] text-grey
    }

    .instructor__social{
        @apply relative flex justify-center
    }

    .instructor__social:before{
        @apply absolute content-[''] bg-[#ddd] top-0 h-[1px] w-[25%] m-auto transition-all duration-300
    }

    .instructor__social ul{
        @apply flex pt-[1.5rem]
    }

    .instructor__social ul li:nth-child(2){
        @apply mx-[.5rem]
    }

    .instructor__social ul li:first-child a{
        @apply px-[.8rem]
    }

    .instructor__social ul li a{
        @apply bg-lgreen px-[.7rem] py-[.5rem] text-primary text-[1rem] rounded-[.2rem]
    }

    .instructor__social ul li a:hover{
        @apply text-light bg-primary transition ease-in-out duration-300
    }


    /* BENEFITS SECTION */
 
    .benefits{
        @apply py-[2rem];
    }

    .benefits__wrapper{
        @apply lg:max-w-[80rem] lg:w-full lg:mx-auto  lg:grid lg:grid-cols-4 flex flex-col justify-center gap-[1.5rem] mt-[3rem];
    }

    .benefits-title{
        @apply text-center;
    }

    .benefits-title h3{
        @apply lg:text-primary lg:text-[1.2rem] lg:font-bold text-primary text-[1.5rem] font-bold;
    }

    .benefits-title p{
        @apply lg:text-[2.5rem] lg:max-w-[37rem] lg:mx-auto font-bold text-dark text-[1.6rem]
    }

    .benefits-item{
        @apply lg:py-[4rem] lg:transition-[.5s] lg:ease-in flex justify-center items-center gap-[1.5rem] border-solid border-[2px] rounded-[5px] border-primary py-[3rem] border-opacity-30;
    }

    .benefits-img{
        @apply flex justify-center lg:mb-[1.5rem];
    }

    .benefits-content a{
        @apply text-dark text-[1.4rem] text-center font-bold my-[1.5rem] ;
    }

    .benefits-content a:hover{
        @apply text-primary;
    }

    .benefits-content p{
        @apply text-center text-gray-500 text-[1.2rem] font-bold lg:mt-[1.5rem] ;
    }

        .benefits-item:hover{
            @apply border-opacity-0 shadow-xl transition-[.5s] ease-in;
        }
/* NEWS */
.news__wrapper{
    @apply lg:max-w-[80rem] lg:mx-auto lg:w-full
}
    .news__title h6{
        @apply ml-[2rem] text-[1.5rem] font-bold text-primary lg:text-start lg:ml-0
    }
    .news__title h3{
        @apply ml-[2rem] text-[1.62rem] font-bold text-dark mb-[2rem] lg:text-start lg:text-[3rem] lg:max-w-[50rem] lg:ml-0
    }
    .news__list{
        @apply lg:flex lg:gap-x-[2rem] ;
    }

    .news__item{
        @apply overflow-hidden bg-light shadow-[0px_5px_4px_0px_rgba(0,0,0,.05)] mb-[1rem] px-[.5rem] min-h-[10rem] pb-[2rem] lg:px-0
    }

    .news__item:hover .news__tag{
        @apply transition ease-in duration-300;
    }

    .news__item:hover .news__tag span{
        @apply top-0 left-0 w-full h-full transition-all duration-500;
    }

    .news__item:hover .news__tag p{
        @apply left-[2%] p-[.5rem] text-[1.1rem] transition-all duration-500;
    }

    .news__item:hover .figure img{
        @apply scale-[1.1] transition ease-in-out duration-500;
    }
    .news__item figure{
        @apply overflow-hidden relative;
    }
    .news__item figure img{
        @apply   w-[100%] h-[22rem] lg:h-[15rem] transition-all duration-500;
    }
    .news__tag{
        @apply transition ease-in duration-300
    }

    .news__tag span{
        @apply absolute top-[50%] left-[50%] bg-black bg-opacity-50 w-0 h-0 transition-all duration-500
    }

    .news__tag p{
        @apply absolute top-[2%] left-[10%] bg-primary text-light rounded-[.2rem] font-[600] m-[1rem] text-[0] transition-all duration-500
    }
    .news__item:hover img{
        @apply bg-dark scale-[1.08] transition-all duration-500;
    }
    .news__text h5{
        @apply text-[1.3rem] px-[1rem] font-bold text-dark mt-[2rem];
    }
    .news__text ul{
        @apply flex gap-[1rem] px-[1rem];
    }
    .news__text ul li{
        @apply mt-[1rem] text-primary lg:mt-[.5rem];
    }
    .news__text ul li i{
        @apply mr-[.5rem];
    }
    .news__btn{
        @apply flex gap-[1rem] px-[1rem]  mt-[3rem] lg:items-start lg:justify-start lg:mt-[2rem];
    }
    .news__btn a{
        @apply w-[10rem] px-[1.5rem] text-center py-[.8rem] font-semibold text-dark border-dark border-[1px] bg-light rounded-md  
    }
    .news__btn a:hover{
        @apply bg-primary text-light border-primary transition-all ease-in-out duration-300;
    }
    .news .tns-outer{
        @apply lg:max-w-[70rem] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit;
    }


        
        /* ---------------------------TESTIMONIAL----------------------------*/
    .testimonial{
        @apply bg-[#0EB58208] relative mb-[10rem] ;
    }
    .testimonials__wrapper{
        @apply mx-[2rem] py-[2rem] lg:max-w-[80rem] lg:w-full lg:mx-auto;
    }
    .testimonials__content{
        @apply  my-[2rem] lg:flex lg:items-center lg:justify-center lg:gap-[3rem];
    }
    .testimonials__text{
        @apply lg:w-[30rem];
    }
    .testimonials__text h4{
        @apply text-primary font-bold text-[1.5rem] text-center lg:text-[2rem];
    }
    .testimonials__text p{
        @apply text-dark font-bold text-[1.5rem] text-center lg:text-[3rem] lg:w-[38rem] lg:text-center lg:ml-[-4rem];
    }
    .testimonials__slider span{
        @apply text-primary text-[2rem];
    }
    .testimonials__slider p{
        @apply text-gray-500 text-[1.2rem] text-left;
    }
    .testimonials__slider img{
        @apply w-[4rem];
    }
    .testimonials__slider__profile{
        @apply flex items-center gap-2 my-[1rem];
    }
    .testimonials__slider__profile h6{
        @apply text-dark font-bold;
    }
    .testimonials__slider__profile p{
        @apply text-primary font-bold text-left;
    }
    .testimonials__text__page{
        @apply text-center font-bold text-[1.5rem] mb-5;
    }
    .testimonials__text__page h1{
        @apply text-primary;
    }
    .testimonials__text__page h2{
        @apply text-dark;
    }
    .testimonials__card{
        @apply border-[.1rem] border-primary p-[2rem] my-[1rem] shadow-md hover:shadow-xl hover:border-white lg:flex lg:items-center lg:gap-4 lg:p-[1rem] lg:w-[38rem] lg:h-[15rem] transition-all duration-500;
    }
    .testimonials__card__text{
        @apply my-[1rem] relative;
    }
    .testimonials__card__text p{
        @apply text-primary font-semibold;
    } 
    .testimonials__card__text h2{
        @apply text-dark font-bold text-[2rem];
    }
    .testimonials__card__actions{
        @apply h-[5rem] relative;
    }
    .testimonials__card__actions span{
        @apply inline-block mt-[1rem] z-20 bg-primary w-[2rem] h-[2rem] rounded-full relative transition-all duration-500;
    } 
    .testimonials__card__actions span::before{
        @apply content-[""] block absolute w-[.8rem] lg:w-[.9rem] h-1 bg-white left-[30%] top-[45%];
    } 
    .testimonials__card__actions span::after{
        @apply content-[""] block absolute w-1 h-[.8rem] bg-white left-[45%] top-[30%];
    } 
    .testimonials__card__actions a{
        @apply absolute inline-block w-[7rem] text-center lg:w-[9rem] h-[2rem] lg:h-[2.5rem] lg:text-[1.5rem] opacity-0 left-0 top-0 text-white font-bold p-1 rounded-md transition-all duration-500;
    } 
    .testimonials__card__actions a::after{
        @apply content-[""] block absolute top-0 left-0 rounded-md bg-primary w-0 h-full z-[-1] transition-all duration-500;
    }
    .testimonials__card:hover .testimonials__card__actions a::after{
        @apply w-full h-full transition-all duration-500;
    }
    .testimonials__card:hover .testimonials__card__actions a{
        @apply opacity-100 transition-all duration-500;
    }
    .testimonials__card:hover .testimonials__card__actions span{
        @apply w-0 h-0 transition-all duration-500;
    }
    .testimonials__card:hover .testimonials__card__actions span::before{
        @apply opacity-0 transition-all duration-500;
    }
    .testimonials__card:hover .testimonials__card__actions span::after{
        @apply opacity-0 transition-all duration-500;
    }
    .testimonials__content:nth-child(2){
        @apply block my-[5rem];
    }
    .testimonials__cards{
        @apply lg:flex lg:items-center lg:gap-[3rem] lg:justify-center;
    }
    .testimonials__content:last-child{
        @apply max-w-[28rem] absolute -bottom-[25rem] left-5 w-full lg:-bottom-[16rem] lg:max-w-full lg:left-0 ;
    }
    .testimonials__newsletter{
        @apply bg-primary px-[1rem] py-[2rem] rounded-md lg:p-[2.5rem] mx-auto lg:w-[80rem]  lg:flex lg:items-center lg:justify-between; 
    }
    .testimonials__newsletter__text h4{
        @apply text-white font-bold text-[1.5rem] lg:text-[4rem]; 
    }
    .testimonials__newsletter__text p{
        @apply text-white font-semibold text-[1.2rem]; 
    }
    .testimonials__newsletter__actions{
        @apply mt-[2rem] lg:flex lg:h-[4rem]; 
    }
    .testimonials__newsletter__actions input{
        @apply outline-none p-4 w-full rounded-md lg:rounded-r-none lg:w-[30rem]; 
    }
    .testimonials__newsletter__actions a{
        @apply bg-dark w-full flex items-center justify-center h-fit p-4 mt-[1rem] lg:m-0 lg:h-full lg:w-[10rem] hover:bg-[#18406b] transition-all duration-500 ; 
    }
    .testimonials__newsletter__actions a i{
        @apply text-white; 
    }
 .testimonials__slider__profile__text h6{
        @apply ml-[1.5rem]
    }
     .testimonials__slider__profile__text p{
        @apply ml-[1.5rem]
    }
    .testimonials__text__page h2{
        @apply text-[2rem] lg:text-[3rem] lg:max-w-[40rem] lg:mx-auto
    }
  /*-----------------------FOOTER-UP----------------------*/
.footer__up { 
    @apply bg-bluee 
}
.up__wrapper{
    @apply pt-[5rem] lg:max-w-[80rem] lg:w-full lg:mx-auto
}
.description__area img{
    @apply mx-auto pt-[12rem] pb-[2rem]
    lg:pt-[1.8rem]
}
.description__area p{
    @apply pb-[1rem] text-[1.2rem] 
}
.up__row{
    @apply text-center text-white
    lg:grid lg:grid-cols-4
}
.social-icons i{
    @apply border-[1px] border-white p-[.5rem] rounded hover:bg-primary transition-all
}
.nav_menu1 h2{
    @apply text-[1.5rem] font-bold pt-[2rem] pb-[1.5rem]
}
.menu__container ul li a{
    @apply text-[1.2rem]
}
.menu__container ul li {
    @apply pb-[1rem] hover:text-primary transition-all
} 
.custom__html{
    @apply mx-[1rem]
}
.custom__html h2{
    @apply text-[1.5rem] pt-[1.5rem] pb-[1rem]
    lg:pt-[2rem]
}
.witr_sub_table{
    @apply flex justify-between text-[1.2rem] pb-[8px] border-b-[1px] 
}

/* ---------------FOOTER------------ */
.footer-bottom{
 @apply relative bg-bluee text-white pt-[3rem]
}
.copy-right-text{
@apply flex justify-center pb-[1rem] pt-[1rem] text-[1rem]
}
.text-right{
@apply flex justify-center gap-[1rem] 

}
.text-right li{
 @apply hover:text-primary transition-all text-[1rem]
}
.row{
@apply border-t-[1px]
lg:flex lg:justify-between lg:items-center lg:max-w-[70rem] lg:w-full lg:mx-auto
}

}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#01B3A7  ;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color:#11263A ;
  }
  html {
    scroll-behavior: smooth
  }