@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply mx-auto p-[1.5rem] w-full max-w-[140rem];
}



@layer components {
    .header__mobile{
        @apply lg:hidden
    }
    .header__actions{
        @apply lg:block
    }
    .header__image img{
        @apply flex mx-auto my-[2rem] lg:hidden 
    }
    .header__all{
        @apply flex justify-between bg-greeen
    }
    .header__all h3{
        @apply text-light flex items-center text-[1.5rem] ml-[1rem]
    }
    .toggle__menu {
        @apply  px-[.8rem] py-[1rem] mr-[1rem] lg:hidden;
      }
      .toggle__menu span {
        @apply w-[1.5rem] h-[.18rem] transition-[.5s] bg-light block;
      }
      .toggle__menu span:nth-child(2) {
        @apply my-[.3rem];
      }
      .toggle__menu.open span:first-child {
        @apply translate-x-0 translate-y-[9px] rotate-[225deg] transition-[.5s] ease-in-out;
      }
      .toggle__menu.open span:nth-child(2) {
        @apply opacity-0 transition-[.5s] ease-in-out;
      }
      .toggle__menu.open span:last-child {
        @apply translate-x-0 translate-y-[-5px] rotate-[-225deg] ease-in-out;
      }
      
.header__actions{
    @apply hidden
}
      .header__actions.open{
        @apply block top-0  transition-all;
    }
.header__item{
    @apply text-dark mb-[1.5rem] lg:ml-[2rem]
}

.header__item h4{
    @apply border-b py-[1rem] px-[2rem] flex justify-between text-dark text-[1rem] cursor-pointer lg:mb-[1rem]
}

.header__item i{
    @apply mr-[3rem] text-dark transition ease-linear duration-300 lg:hidden;
}
/* .plus{
    @apply flex ml-[25rem] 
} */
.plus span:first-child{
    @apply w-[1rem] h-[.18rem] transition-[.5s] bg-dark block justify-end translate-y-[3px];
}
.plus span:last-child{
    @apply w-[1rem] h-[.18rem] transition-[.5s] bg-dark block justify-end rotate-[270deg];
}
/* .header__item i.open{
    @apply transition ease-linear duration-300 rotate-[180deg];
} */

.header__item ul{
    @apply max-h-0 overflow-hidden transition ease-linear duration-300 lg:max-h-[100%]
}

.header__item ul.open{
    @apply max-h-[50rem] py-[1rem] transition ease-linear duration-300 bg-light shadow-[0_8px_15px_rgba(0,0,0,.2)]
}

.header__item ul li{
    @apply border-b px-[3rem] mb-[1rem]
}

/* ----------HEADER PC------------------- */
.header__pc{
    @apply hidden lg:block lg:bg-greeen
}

.pc__wrapper{
    @apply lg:max-w-[70rem] w-full mx-auto flex justify-between text-[.8rem] py-[1rem]
}
.pc__text{
    @apply flex
}
.pc__in {
    @apply flex gap-2 text-light
}
.pc__in h4{
    @apply flex gap-2 items-baseline
}
.pc__socials{
    @apply text-light
}
.pc__socials{
    @apply flex gap-2
}
.pc__socials i{
    @apply hover:text-dark
}
.pc__text a{
    @apply flex text-light ml-[2rem] items-baseline
}
.pc__text span{
    @apply flex ml-2
}
.pc__text p{
    @apply flex text-light
}

/* -------------BANNER-------------- */
.banner{
    @apply bg-center bg-bannerBG1 min-h-[100vh] bg-cover bg-no-repeat lg:min-h-[45rem] flex items-center
}
.banner__wrapper img{
    @apply lg:flex
}

/* ---------------SLIDER-1--------------- */
.slider-1{
    @apply lg:max-w-[70rem] lg:w-full lg:mx-auto lg:z-[999];
}
.slider-1__wrapper{
    @apply  lg:w-full lg:mx-auto  
}
.slider-1__item{
    @apply w-[5rem] mx-auto bg-transparent lg:translate-y-[-10rem] lg:relative;
}
.slider-1__item__img{
    @apply  lg:hover:shadow-none lg:mx-auto bg-light mx-[2rem] justify-center items-center text-center border-[2px] border-greeen border-opacity-30 rounded-[1rem]  hover:shadow-[0px_0px_5px_0px_rgba(0,0,0,.9)]
}
.slider-1__item img{
    @apply flex mx-auto my-[2rem]
}
.slider-1__text h3{
@apply text-[1.5rem] text-dark hover:text-greeen
}
.slider-1__text p{
    @apply text-greeen my-[1rem]
}
.slider-1.tns-nav{
    @apply flex items-center justify-center;
}
.slider-1 .tns-outer{
    @apply lg:max-w-[60%] lg:w-full lg:mx-auto lg:flex lg:items-center lg:h-fit;
}
.slider-1 .tns-controls{
    @apply text-[2rem]  lg:text-primary lg:flex lg:justify-between lg:z-[999] lg:w-[60%] lg:absolute;
}

/* .tns-outer{
    @apply min-h-[20rem] z-[999]
} */

/* .tns-inner{
    @apply z-[999] min-h-[25rem]
} */
/* ---------EDUTIT--------- */
.edutit__wrapper{
    @apply my-[2rem]
}
.edutit__wrapper img{
    @apply flex w-[28rem] mx-auto
}
.edutit__text{
    @apply my-[2rem]
}
.edutit__text h2{
    @apply  font-bold flex text-dark text-[2.2rem] text-justify ml-[1rem]
}
.edutit__text h2 span{
    @apply text-greeen text-[2.1rem]
}
.edutit__list{
    @apply  ml-[1rem] border-l-[5px] border-greeen
}
.edutit__list p{ 
    @apply my-[2rem] text-gray-500 text-[2rem] ml-[1rem]
}
.edutit__item{
    @apply text-[1.6rem] mx-[1rem]
}
.edupit__success{
    @apply text-[2rem] mt-[2rem]
}
.success__bar{
    @apply  my-[10px]; 
    }
    .success__bar__circle{
    @apply ml-[1.2rem] h-[3px] w-[90px] bg-primary my-[1rem] mx-auto relative rounded-[30px]
    }
    .success__bar__circle::before{
    @apply content-[""] absolute left-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding1
    }
    .success__bar__circle::after{
    @apply content-[""] absolute right-0 top-[50%] transform translate-y-[-50%] border-primary border-[6px] rounded-[50%] bg-[#1c1b1b] animate-sliding2
    }
.slider-2 a img{
    @apply  flex mx-auto  text-[1rem] 

}   
    /*-----------------------FOOTER-UP----------------------*/
.footer__up { 
    @apply bg-bluee 
}
.up__wrapper{
    @apply lg:max-w-[70rem] lg:w-full lg:mx-auto
}
.description__area img{
    @apply mx-auto pt-[12rem] pb-[2rem]
    lg:pt-[1.8rem]
}
.description__area p{
    @apply pb-[1rem] text-[1.2rem] 
}
.up__row{
    @apply text-center text-white
    lg:grid lg:grid-cols-4
}
.social-icons i{
    @apply border-[1px] border-white p-[.5rem] rounded hover:bg-primary transition-all
}
.nav_menu1 h2{
    @apply text-[1.5rem] font-bold pt-[2rem] pb-[1.5rem]
}
.menu__container ul li a{
    @apply text-[1.2rem]
}
.menu__container ul li {
    @apply pb-[1rem] hover:text-primary transition-all
}
.custom__html h2{
    @apply text-[1.5rem] pt-[1.5rem] pb-[1rem]
    lg:pt-[2rem]
}
.witr_sub_table{
    @apply flex justify-between text-[1.2rem] pb-[8px] border-b-[1px] mb-[8px]
}

/* ---------------FOOTER------------ */
.footer-bottom{
 @apply relative bg-bluee text-white pt-[3rem]
}
.copy-right-text{
@apply flex justify-center pb-[1rem] pt-[1rem] text-[1rem]
}
.text-right{
@apply flex justify-center gap-[1rem] 

}
.text-right li{
 @apply hover:text-primary transition-all text-[1rem]
}
.row{
@apply border-t-[1px]
lg:flex lg:justify-between lg:items-center lg:max-w-[70rem] lg:w-full lg:mx-auto
}

}

